<!doctype html>
<html>
<head>
    <!-- Specifies the character encoding for the HTML document -->
    <meta charset="utf-8">
    <!-- Sets the viewport to ensure the webpage is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links to the Tailwind CSS CDN for styling the webpage -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- The title block allows for dynamic title insertion, followed by a static part " | Puddle" -->
    <title>{% block title %}{% endblock %} | Puddle</title>
    <style>
        /* Custom styles can be added here */
        /* Example: */
        /* .nav-link {
            text-decoration: none;
            padding: 0.5rem 1rem; /* Adjusted padding */
            font-size: 0.9rem; /* Reduced font size */
            color: #333;
            transition: all 0.3s ease;
        }
        .nav-link:hover {
            color: #555;
        } */
    </style>
</head>
<body class="flex flex-col min-h-screen">
    <!-- Navigation bar with padding, flexbox layout, centered items, and a bottom border -->
    <nav class="py-4 px-6 flex justify-between items-center border-b border-gray-200">
        <!-- Links to the root (/) of the website (href="/") and displays "Puddle" with larger text (text-xl) and bold font (font-semibold). -->
        <a href="/" class="text-xl font-semibold">Puddle</a>

        <!-- Container for navigation links -->
        <div class="space-x-4">
            <a href="{% url 'core:new&cat' %}" class="text-base px-3 py-2 font-semibold rounded-lg hover:text-gray-500">Newest Items and Categories</a>
            <!-- Link styled as a button for user signup ,  Semi-bold font weight -->
            <a href="{% url 'item:items' %}" class="text-base px-3 py-2 font-semibold rounded-lg hover:text-gray-500">Browse</a>
            
            {% if request.user.is_authenticated %}
            <!-- Link styled as a button for user login -->
            <a href="{% url 'Dashboard:index' %}" class="px-3 py-2 text-base font-semibold bg-gray-500 text-white rounded-lg hover:bg-gray-700">Dashboard</a>
            <a href="{% url 'core:logout' %}" class="px-3 py-2 text-base font-semibold bg-gray-500 text-white rounded-lg hover:bg-gray-700">Log out</a>
            <a href="{% url 'core:contact' %}" class="text-base font-semibold px-3 py-2 bg-teal-500 rounded-lg hover:text-gray-500">Contact</a>
            <a href="{%url 'portfolio:index' %}" class="text-base font-semibold px-3 py-2 bg-teal-500 rounded-lg hover:text-gray-500">Portfolio</a>
            
            <!-- Link to add an item, styled with a hover effect -->
            <a href="{% url 'item:new' %}" class="text-base font-semibold px-3 py-2 bg-teal-500 rounded-lg hover:text-gray-500">ADD Item</a>
            {% else %}
            <!-- You can add some common links here -->
            <a href="{% url 'core:signup' %}" class="px-3 py-2 text-base font-semibold bg-teal-500 text-white rounded-lg hover:bg-teal-700">Signup</a>
            <!-- Link styled as a button for user login -->
            <a href="{% url 'core:login' %}" class="px-3 py-2 text-base font-semibold bg-gray-500 text-white rounded-lg hover:bg-gray-700">Log in</a>
            {% endif %}
        </div>
    </nav>

    <!-- Main content area with padding -->
    <div class="flex-1 px-6 py-6">
        <!-- Block for dynamic content insertion, to be filled in by child templates -->
        {% block content %}{% endblock %}
    </div>

    <!-- Footer section -->
    <footer class="py-6 px-6 flex justify-between bg-gray-800 mt-auto">
        <!-- Left section of the footer -->
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>
            <p class="text-lg text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quis maiores nulla magni quas aut aperiam molestias eius
                voluptas animi? Ipsam ea expedita maiores, commodi beatae
                iusto eligendi delectus pariatur odio.
            </p>
        </div>

        <!-- Right section of the footer -->
        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
            <ul class="space-y-2">
                <li><a href="#" class="text-base text-teal-500 hover:text-teal-700">About</a></li>
                <li><a href="#" class="text-base text-teal-500 hover:text-teal-700">Contact</a></li>
                <li><a href="#" class="text-base text-teal-500 hover:text-teal-700">Privacy Policy</a></li>
                <li><a href="#" class="text-base text-teal-500 hover:text-teal-700">Terms of Use</a></li>
            </ul>
        </div>
    </footer>
    <!-- End of footer -->
</body>
</html>
