{% extends 'core/base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<style>
    .pagination-center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; /* Adjust as needed */
    }
    .pagination-center .btn {
        margin: 0 5px; /* Adjust spacing as needed */
    }
</style>

<div class="mt-6 px-6 py-12 bg-gray-10 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Items</h2>
    <div class="grid grid-cols-3 gap-3">
    {% for item in items %}
    <div>
        <a href="{% url 'item:detail' item.id %}">
            <div>
                <img src="{{ item.image.url }}" class="rounded-xl">
            </div>
            <div class="p-6 bg-white rounded-xl">
                <h2 class="text-2xl">{{ item.name }}</h2>
                <p class="text-gray-400">Price={{ item.price }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>

    <div class="pagination-center">
        {% for num in items.paginator.page_range %}
            {% if items.number == num %}
                <strong>{{ num }}</strong>
            {% elif num > items.number|add:'-5' and num < items.number|add:'5' %}
                <a href="?page={{ num }}" class="btn">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
